@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import local fonts in tailwind */
@layer base {
  /* Neue Machina Fonts */
  @font-face {
    font-family: "Neue Machina Bold";
    src: url("/fonts/neue-machina/NeueMachina-Ultrabold.otf") format("opentype");
  }
  @font-face {
    font-family: "Neue Machina Light";
    src: url("/fonts/neue-machina/NeueMachina-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "Neue Machina";
    src: url("/fonts/neue-machina/NeueMachina-Regular.otf") format("opentype");
  }

  /* Euclid Fonts */
  @font-face {
    font-family: "Euclid Bold Italic";
    src: url("/fonts/euclid/Euclid Circular A Bold Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid Bold";
    src: url("/fonts/euclid/Euclid Circular A Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Euclid Italic";
    src: url("/fonts/euclid/Euclid Circular A Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid Light Italic";
    src: url("/fonts/euclid/Euclid Circular A Light Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid Light";
    src: url("/fonts/euclid/Euclid Circular A Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid Medium Italic";
    src: url("/fonts/euclid/Euclid Circular A Medium Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid Medium";
    src: url("/fonts/euclid/Euclid Circular A Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid";
    src: url("/fonts/euclid/Euclid Circular A Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid SemiBold Italic";
    src: url("/fonts/euclid/Euclid Circular A SemiBold Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid SemiBold";
    src: url("/fonts/euclid/Euclid Circular A SemiBold.ttf") format("truetype");
  }

  /* PP Neue Plain Fonts */
  @font-face {
    font-family: "PP Neue Light";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainLight.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Light Italic";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainLightItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Regular";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainRegular.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Regular Italic";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainRegularItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Bold";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainUltrabold.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Bold Italic";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainUltraboldItalic.otf")
      format("opentype");
  }

  /* Helvetica Neue Fonts */
  @font-face {
    font-family: "Helvetica Medium";
    src: url("/fonts/helvetica/HelveticaNeueMedium.ttf") format("truetype");
  }

  /* Apfel Groztezk fonts */
  @font-face {
    font-family: "Apfel Grotezk";
    src: url("/fonts/apfel-grotezk/ApfelGrotezk-Regular.otf") format("opentype");
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
button > div {
  font-family: "Neue Machina Bold", sans-serif;
}

p,
span,
div,
small {
  font-family: "Apfel Grotezk", sans-serif;
}

body,
html {
  background-color: #161617;
  color: #f3f3f3;
}

/* Remove all outline effects on all buttons */
button:focus {
  outline: none;
}

/* remove scrollbars from all sides  */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

/* * {
  z-index: 10;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #161617;
} */

#tsparticles {
  height: 450px;
  width: 100vw;
}

On hover remove animation from all child divs .ticker-container:hover > * {
  animation-play-state: paused;
}

.ticker-text {
  white-space: nowrap;
  animation: ticker 40s linear infinite; /* Adjust the duration as needed */
  white-space: nowrap;
}

.ticker-text2 {
  white-space: nowrap;
  animation: ticker2 40s linear infinite; /* Adjust the duration as needed */
  position: absolute;
  white-space: nowrap;
}
input[type="checkbox"] {
  width: 1px;
}
input[type="checkbox"] + label:before {
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 6px 0.65em 0px -30px;
  padding: 0;
  vertical-align: top;
  width: 16px;
  background: #232325;
  border-radius: 3px;
}
input[type="checkbox"]:checked + label:before {
  background: #cbfb45;
  color: black;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L5.53 12.7a1 1 0 0 1 1.47-1.4l2.95 2.94 7.06-7.06a1 1 0 1 1 1.41 1.41L10.4 16.17a1 1 0 0 1-1.41 0z"/></svg>');
  text-align: center;
}

.hover-link {
  position: relative;
  color: #333;
  text-decoration: none;
}
.hover-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hover-link:hover::after {
  visibility: visible;
  width: 100%;
}

/* Loader */
.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "Neue Machina Bold", sans-serif;
  color: #cbfb45;
}
/* Loader END */

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
