@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import local fonts in tailwind */
@layer base {
  /* Neue Machina Fonts */
  @font-face {
    font-family: "Neue Machina Bold";
    src: url("/fonts/neue-machina/NeueMachina-Ultrabold.otf") format("opentype");
  }
  @font-face {
    font-family: "Neue Machina Light";
    src: url("/fonts/neue-machina/NeueMachina-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "Neue Machina";
    src: url("/fonts/neue-machina/NeueMachina-Regular.otf") format("opentype");
  }

  /* Euclid Fonts */
  @font-face {
    font-family: "Euclid Bold Italic";
    src: url("/fonts/euclid/Euclid Circular A Bold Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid Bold";
    src: url("/fonts/euclid/Euclid Circular A Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Euclid Italic";
    src: url("/fonts/euclid/Euclid Circular A Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid Light Italic";
    src: url("/fonts/euclid/Euclid Circular A Light Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid Light";
    src: url("/fonts/euclid/Euclid Circular A Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid Medium Italic";
    src: url("/fonts/euclid/Euclid Circular A Medium Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid Medium";
    src: url("/fonts/euclid/Euclid Circular A Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid";
    src: url("/fonts/euclid/Euclid Circular A Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Euclid SemiBold Italic";
    src: url("/fonts/euclid/Euclid Circular A SemiBold Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "Euclid SemiBold";
    src: url("/fonts/euclid/Euclid Circular A SemiBold.ttf") format("truetype");
  }

  /* PP Neue Plain Fonts */
  @font-face {
    font-family: "PP Neue Light";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainLight.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Light Italic";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainLightItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Regular";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainRegular.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Regular Italic";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainRegularItalic.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Bold";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainUltrabold.otf")
      format("opentype");
  }
  @font-face {
    font-family: "PP Neue Bold Italic";
    src: url("/fonts/pp-neue-machina/PPNeueMachina-PlainUltraboldItalic.otf")
      format("opentype");
  }

  /* Helvetica Neue Fonts */
  @font-face {
    font-family: "Helvetica Medium";
    src: url("/fonts/helvetica/HelveticaNeueMedium.ttf") format("truetype");
  }

  /* Apfel Groztezk fonts */
  @font-face {
    font-family: "Apfel Grotezk";
    src: url("/fonts/apfel-grotezk/ApfelGrotezk-Regular.otf") format("opentype");
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
button > div {
  font-family: "Neue Machina Bold", sans-serif;
}

p,
span,
div,
small {
  font-family: "Apfel Grotezk", sans-serif;
}

body,
html {
  background-color: #161617;
  color: #f3f3f3;
}

/* Remove all outline effects on all buttons */
button:focus {
  outline: none;
}

/* remove scrollbars from all sides  */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
